name: Notify Me

on:
  workflow_run:
    workflows: ["Build and Push Docker image", "Deploy mdBook site to Pages"]
    types:
      - completed
jobs:
  on-success:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - run: |
          curl -s -X POST "https://api.telegram.org/bot${{ secrets.TELEGRAM_BOT_TOKEN }}/sendMessage" \
            -d chat_id=${{ secrets.TELEGRAM_CHAT_ID }} \
            -d text="✅ GitHub Actions: Workflow '${{ github.event.workflow_run.name }}' completed for ${{ github.repository }}."
  on-failure:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'failure' }}
    steps:
      - run: |
          curl -s -X POST "https://api.telegram.org/bot${{ secrets.TELEGRAM_BOT_TOKEN }}/sendMessage" \
            -d chat_id=${{ secrets.TELEGRAM_CHAT_ID }} \
            -d text="❎ GitHub Actions: Workflow '${{ github.event.workflow_run.name }}' failed for ${{ github.repository }}."
