name: Test and Build

on:
  push:
    branches: [ main ]  

permissions:
  contents: write

jobs:
  tests:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v4
          with:
            token: ${{ secrets.GITHUB_TOKEN }}
        - name: Set up Python
          uses: actions/setup-python@v5
          with:
            python-version: '3.13'
        - name: Install dependencies
          run: |
            pip install -r requirements.txt
            pip install flake8 autopep8
        - name: Auto-format code
          run: |
            autopep8 --diff --aggressive --aggressive --recursive .
            autopep8 --in-place --aggressive --aggressive --recursive .
        - name: Commit and push changes
          run: |
            git config --global user.name "github-actions[bot]"
            git config --global user.email "github-actions[bot]@users.noreply.github.com"
            git add .
            git diff --cached --quiet || git commit -m "Auto-format code with autopep8"
            git push
        - name: Lint code
          run: flake8 .
        - name: Run tests
          run: cd bot/ && pytest
  build:
    runs-on: ubuntu-latest
    needs: tests
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./bot/Dockerfile
          push: true
          tags: snr1s3/performance-bot:latest
          platforms: linux/amd64,linux/arm64
